body {
    display: flex;
    flex-direction: column;
}
  
header {
    display: flex;
    padding: 1%;
    background-color: #5f86aa;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}
  
h1 {
    font-size: 200%;
}


h2{
    font-size: 40px;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 40%;
}

img{
    flex: 1 0 0;
    flex-direction: row;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    width: 60%;
    margin: 20px;
    height: 20%;
}
  
footer {
    display: flex;
    padding: 2%;
    background-color: #5f86aa;
    color: #fff;
    justify-content: center;
}

.content{
    margin: 20px;
}

.dropdown-trigger{
    text-decoration: none;
    color: black;
}

.dropdown-content{
    padding: 0px; 
}

.dropdown-content li a{
    text-decoration: none;
}

.dropdown-content li{
    list-style: none;
    text-align: left;
}

.preferences{
    display: flex;
    margin-top: 50px;
}

.dropContainer{
    margin: 20px 0px;
}

@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      text-align: center;
    }
    main {
        flex-direction: column;
    }
  }



