/* Root */

/* Universal Selector */
/* * {
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
/* } */

body {
    display: flex;
    flex-direction: column;
}
  
header {
    display: flex;
    padding: 1%;
    background-color: #5f86aa;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}
  
h1 {
    font-size: 200%;
}

h2{
    font-size: 40px;
}
  
nav ul {
    display: flex;
    min-width: 180px;
    list-style: none;
    justify-content: space-between;
}
  
nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

main {
    display: flex;
    flex: 1 1 0;
    margin: 2% auto;
    width: 95%;
    justify-content: space-between;
}

.filter {
    display: flex;
    flex-direction: row;
}

.content{
    flex: 1 0 0;
    flex-direction: row;
    text-align: center;
    margin: 20px;
}

.container {
    display:block;
}

.home {
    position: relative;
}

.home-video {
    position:relative;
    z-index:0;
}

.home-text {
    position:absolute;
    top:10%;
    left:40%;
    z-index:1;
    text-align:center;
    background-color: white;
    opacity: 70%;
    border-radius: 20px;
    padding: 10px;
    width: 35%;
}

.map{
    flex: 1 0 0;
    flex-direction: row;
    padding: 40px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

.temp{
    text-align: center;
}

footer {
    display: flex;
    padding: 2%;
    background-color: #5f86aa;
    color: #fff;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      text-align: center;
    }
    main {
        flex-direction: column;
    }
  }

  /* 2nd container ".content" css */
img{
    flex: 1 0 0;
    flex-direction: row;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    width: 60%;
    margin: 20px;
    height: 20%;
}

.dropdown-trigger{
    text-decoration: none;
    color: black;
}

.dropdown-content{
    padding: 0px; 
}

.dropdown-content li a{
    text-decoration: none;
}

.dropdown-content li{
    list-style: none;
    text-align: left;
}

.preferences{
    display: flex;
    margin-top: 50px;
}

.dropContainer{
    margin: 20px 0px;
}